[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
gptcache = "*"
python-dotenv = "*"
matplotlib = "*"
plotly = "*"
tenacity = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
